<html>
  <head>
    <title>{{ page_title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="{{ css_url }}" rel="stylesheet">
  </head>
