<!-- Header twig template -->

{% set vars = {
  'page_title': 'Home Page',
  'css_url': '/css/index.css'
}

%}
{% include 'partials/header.html.twig' with vars %}

<body>
<!-- Navbar twig template -->

{% set active_page = '/project/current_projects' %}
{% include 'partials/nav.html' %}

	<div class='container'>

		<div class='col-xs-1'>
			<br>
		</div>
		<div class='col-xs-8'>
		    <h2>Error</h2>
		    <h3>Email or Password not registered in our system!</h3>

		    <a href='/'>Sign In</a>
		</div>
	</div>

  </body>
</html>