<!-- Header twig template -->

{% set vars = {
  'page_title': 'Create MindSet Account',
  'css_url': '/css/index.css'
}

%}
{% include 'partials/header.html.twig' with vars %}

<body>
<!-- Navbar twig template -->

{% set active_page = '/project/current_projects' %}
{% include 'partials/nav.html' %}


    <h1>Create MindSet Account</h1>

    <form action='/dashboard' method='post'>
        <div class="row">
            <div class="col-xs-1">
                <label for ='name'>Name:</label>
            </div>
            <div class="col-xs-5">
                <input id='name' name='name' type='text' placeholder="name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label for ='email'>Email:</label>
            </div>
            <div class="col-xs-5">
                <input id='email' name='email' type='text' placeholder="email@domain.com" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <label for ='password'>Password:</label>
            </div>
            <div class="col-xs-5">
                <input id='password' name='password' type='text' placeholder="" required>
            </div>
        </div>
        <button class="btn-default" type="submit">Sign In</button>
        <br/>
    </form>


  </body>
</html>
