<<<<<<< HEAD




=======
>>>>>>> upstream/master
/* Body styles */

#mainContainer {
  padding-top: 5%;
}

#mainRow {
  padding-top: 5%;
}

.mainBody {
  padding-bottom: 2.5%;
}

.mainBody a {
  color: #333;
  text-decoration: none;
}

.mainBody a:hover {
  text-decoration: underline;
}

#projects {
  background: #ebf8ff;
  border-radius: 4%;

}

#habits {
  background: #ebf8ff;
  border-radius: 4%;
}

#journal {
  background: #ebf8ff;
  border-radius: 4%;
}

.footer {
  margin-top: 50%;
}

/* Medium Devices 768px and up */
@media (min-width: 768px) {
  #habits {
    margin: 0 2% 0 2%;
  }

  #mainRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:  flex;
  }

}
