
      <h3>Habit: {{ habit.getName }}</h3>
      {% if habit.getMotivation != null %}
      <p><strong>Habit Motivation:</strong> {{ habit.getMotivation }}</p>
      <p><strong>Days to Complete:</strong> {{ habit.getIntervalDays }}</p>
      {% endif %}
