<form action="{{ form_url }}" method="post">
    <label for="{{ input_value }}">{{ label_text }}</label>
    <input type="text" name="{{ input_value }}">
    <button type="submit">Submit</button>
</form>
