{% set vars = {
    'page_title': 'New Habit Name',
    'css_url': '/css/new_habit_styles.css'
}

%}
{% include 'partials/header.html.twig' with vars %}

  <body>
      <!-- Navbar twig template -->

      {% set active_page = '/habit/new_habit_name' %}
      {% include 'partials/nav.html' %}


    <div class = "container" id = "mainContainer">
      <div class = "row row-centered" id = "mainRow">

        <div class = "col-xl-8 col-lg-8 col-md-11 col-sm-12 col-sm-offset-1 col-centered mainBody" id="habits">

        <h1>What good habit would you like to start?</h1>
        </div>
        <div class = "col-xl-5 col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-centered mainBody" id="habits">


          <form action='/coach/new_habit/motivation' method='post'>
            <div class="form-group">
                <input id = 'name' name='name' class ='form-control' type='text'>
            </div>



                <!-- <label for = 'motivation'>Why do you want this habit?</label>
                <input id = 'motivation' name='motivation' type='text'>

                <label for = 'interval_days'>How many days in a row do you want to do this?</label>
                <input id = 'interval_days' name='interval_days' type='integer'> -->

                <button class = "btn btn-primary" type='submit'>Create Habit</button>
            </form>

            <!-- <form action='/delete_categories' method = 'post'>
                <button type='submit'>Clear</button>
            </form> -->
        </div>
      </div>
    </div>
  </body>
</html>
