{% set vars = {
    'page_title': 'New Habit Name',
    'css_url': '/css/new_habit_styles.css'
}

%}
{% include 'partials/header.html.twig' with vars %}

  <body>
      <!-- Navbar twig template -->

      {% set active_page = '/habit/new_habit_name' %}
      {% include 'partials/nav.html' %}

    <h1>Great Job!</h1>
    <p>Here are the number of days you have completed your habit: {{ days }}</p>

    <a href="/habit/current_habits">Go back to your active habits</a>


  </body>
</html>
