<!-- Header twig template -->

{% set vars = {
  'page_title': "MindSet :: #{project.getName}: Motivation",
  'css_url': '/css/new_project.css'
}

%}

{% include 'partials/header.html.twig' with vars %}

    <body>

        <!-- Nabar twig template -->

        {% set active_page = '/coach/current_projects' %}
        {% include 'partials/nav.html' %}

        <div class = "container" id = "mainContainer">
          <div class = "row row-centered" id = "mainRow">

            <div class = "col-xl-8 col-lg-8 col-md-11 col-sm-12 col-sm-offset-1 col-centered mainBody">

            <h1>What inspires you to pursue this project?</h1>
            <p>Try to answer in a sentence or two.</p>
            </div>
            <div class = "col-xl-5 col-lg-5 col-md-5 col-sm-5 col-sm-offset-1 col-centered mainBody">


              <form action='/coach/new_project/{{ project.getId }}/prereqs' method='post'>
                <div class="form-group">
                    <input id = 'motivation' name='motivation' class ='form-control' type='text' autofocus>
                </div>

                    <button class = "btn btn-primary" type='submit'>Continue</button>
              </form>
              {% include 'coach/partials/project_display.html.twig' %}
            </div>
          </div>

        </div>

    </body>
</html>
