{% set vars = {
  'page_title': "MindSet :: #{project.getName}: Finished for today",
  'css_url': '/css/new_project.css'
}

%}

{% include 'partials/header.html.twig' with vars %}
    <body>
        {% set active_page = '/coach/active_project' %}
        {% include 'partials/nav.html' %}

        <div class = "container" id = "mainContainer">
            <div class = "row row-centered" id = "mainRow">
                <div class = "col-xl-8 col-lg-8 col-md-11 col-sm-12 col-sm-offset-1 col-centered mainBody">


                    <h1>That's plenty for today. Great work!</h1>

                    {% include 'coach/partials/project_progress_bar.html.twig' %}

                    <a role="button" class="btn btn-primary" href="/coach/active_project/{{project.getId}}">Keep going</a>

                </div>
            </div>
        </div>
    </body>
</html>
